<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>WebSocket Chat Client</title>
</head>
<body>
<div id="chat">
    <ul id="message-list"></ul>
    <form id="message-form">
        <label for="message-input">메시지 : </label><input type="text" id="message-input" placeholder="Type your message..." />
        <label for="chat-room-input">채팅방 : </label><input type="text" id="chat-room-input" placeholder="Type your chat room Id..." />
        <button type="submit">Send</button>
    </form>
</div>
<script>

</script>
</body>
</html>